<header class="position-fixed px-4 d-flex align-items-center justify-content-between bg-white header">
    <a>
        <img src="assets/images/cashplus-logo.png" alt="Cashplus" height="16px">
    </a>
    <nav>
        <ul class="mb-0 d-flex gap-3 align-items-center list-unstyled">
            <li>
                <form class="px-3 d-flex align-items-center gap-2 rounded-5 form form--search">
                    <input
                        type="text" placeholder="Nhập từ khóa tìm kiếm"
                        class="p-0 form-control border-0 bg-transparent"
                    >
                    <i class="bi bi-search"></i>
                </form>
            </li>
            <li>
                <button class="position-relative p-0 btn btn-notification">
                    <i class="bi bi-bell-fill fs-5"></i>
                    <span class="position-absolute d-inline-flex align-items-center justify-content-center rounded-circle c-bg-primary text-white notification-number">5</span>
                </button>
            </li>
            <li>
                <button class="ps-1 py-1 pe-2 btn border-0 btn-avatar">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Outdoors-man-portrait_%28cropped%29.jpg/220px-Outdoors-man-portrait_%28cropped%29.jpg" alt="Avatar" width="36px" height="36px" class="me-2 rounded-circle">
                    <span class="fw-semibold">TranVu</span>
                </button>
            </li>
        </ul>
    </nav>
</header>
