.app-header-fixed .app-header {
    position: fixed;
}

.app-header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1020;
    margin-bottom: 0;
    padding: 0;
    background: var(--bs-app-header-bg);
    box-shadow: var(--bs-app-header-box-shadow);
    transition: box-shadow .2s linear;
    display: flex;
    flex: 1;
}

.app-header .navbar-header {
    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
    .app-header .navbar-header {
        width: 220px;
    }
}

.navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
}

.app-header .navbar-brand {
    padding: 10px 20px;
    height: 50px;
    font-weight: 100;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    margin: 0 auto 0 0;
    color: var(--bs-app-header-color);
    align-items: center;
    display: flex;
}

.app-header .navbar-brand .navbar-logo {
    background: var(--bs-app-theme);
    border: 10px solid transparent;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, .15) rgba(0, 0, 0, .3);
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    margin-right: 10px;
}

@media (min-width: 768px) {
    .app-header .navbar-mobile-toggler {
        display: none;
    }
}

.app-header .navbar-mobile-toggler {
    position: relative;
    padding: 10px;
    background-color: transparent;
    background-image: none;
    border: none;
    outline: none;
    color: var(--bs-component-color);
    border-radius: var(--bs-border-radius);
}

.app-header .navbar-mobile-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background: var(--bs-app-header-color);
    border-radius: var(--bs-border-radius);
}

.app-header .navbar-mobile-toggler .icon-bar+.icon-bar {
    margin-top: 4px;
}

.app-header .navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex
;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.app-header .navbar-nav .navbar-item {
    position: relative;
}

.app-header .navbar-form {
    padding: 0 15px;
    margin: 9px 0;
}

.app-header .navbar-form .form-group {
    margin: 0;
    position: relative;
}

.app-header .navbar-form .form-control {
    width: 220px;
    padding: 5px 15px;
    height: 32px;
    background: var(--bs-app-header-input-bg);
    border-color: var(--bs-app-header-input-border);
    border-radius: 30px;
}

.app-header .navbar-form .btn-search {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border: none;
    background: none;
    border-radius: 0 30px 30px 0;
    display: flex
;
    align-items: center;
}

.app-header .navbar-nav .navbar-item {
    position: relative;
}

.app-header .navbar-nav .navbar-item .navbar-link {
    display: block;
    text-decoration: none;
    line-height: 20px;
    padding: 15px;
    border: none;
    color: var(--bs-app-header-color);
}

.dropdown-toggle {
    white-space: nowrap;
}

.app-header .navbar-nav .navbar-item .navbar-link.icon i {
    font-size: 16px;
    height: 20px;
    margin: 0;
    display: flex
;
    align-items: center;
    justify-content: center;
}

.app-header .navbar-nav .navbar-item .navbar-link .badge {
    position: absolute;
    top: 8px;
    display: block;
    background: var(--bs-app-theme);
    line-height: 12px;
    font-weight: 600;
    color: var(--bs-app-theme-color);
    padding: 3px 6px;
    font-size: 10.5px;
    border-radius: 30px;
    right: 5px;
}

.app-header .navbar-nav .navbar-item.dropdown .dropdown-menu {
    margin: 0;
    top: -2px !important;
}

.dropdown-menu.media-list {
    max-width: 360px;
    padding: 0;
}

.navbar-nav .dropdown-menu {
    position: static;
}

.dropdown-menu {
    box-shadow: 0 .5rem 1rem #00000026;
}

.dropdown-menu.media-list .dropdown-header {
    font-weight: 700;
    color: var(--bs-component-color);
    font-size: 10px;
    padding: .61875rem .9375rem;
}

.dropdown-header {
    display: block;
    padding: var(--bs-dropdown-header-padding-y) var(--bs-dropdown-header-padding-x);
    margin-bottom: 0;
    font-size: .6875rem;
    color: var(--bs-dropdown-header-color);
    white-space: nowrap;
}

.dropdown-menu.media-list .dropdown-item, .dropdown-menu.media-list .dropdown-footer {
    padding: .61875rem .9375rem;
}

.dropdown-menu.media-list .media {
    border-top: 1px solid rgba(var(--bs-component-color-rgb), .1);
    border-bottom: 1px solid rgba(var(--bs-component-color-rgb), .1);
    display: flex
;
}

.dropdown-menu .dropdown-item {
    font-weight: 600;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    clear: both;
    font-weight: 400;
    color: var(--bs-dropdown-link-color);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    border-radius: var(--bs-dropdown-item-border-radius, 0);
}

.dropdown-menu.media-list .media .media-left {
    padding-right: 12px;
}

.dropdown-menu.media-list .media .media-object {
    height: 48px;
    width: 48px;
    line-height: 48px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    display: block;
}

.dropdown-menu.media-list .media .media-heading {
    color: var(--bs-component-color);
    margin-bottom: 0;
    font-size: 12.5px;
    line-height: 18px;
}

.dropdown-menu.media-list .dropdown-item, .dropdown-menu.media-list .dropdown-footer {
    padding: .61875rem .9375rem;
}

.app-header .navbar-nav .navbar-item .navbar-link {
    display: block;
    text-decoration: none;
    line-height: 20px;
    padding: 15px;
    border: none;
    color: var(--bs-app-header-color);
}

.app-header .navbar-user img {
    width: 30px;
    height: 30px;
    margin-top: -5px;
    margin-bottom: -5px;
    border-radius: 30px;
    margin-right: 10px;
}

.app-header .navbar-nav .navbar-item.dropdown .dropdown-menu {
    margin: 0;
    top: -2px !important;
}

.navbar-nav .dropdown-menu {
    position: static;
}

.dropdown-menu {
    box-shadow: 0 .5rem 1rem #00000026;
}

.me-1 {
    margin-right: .234375rem !important;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    clear: both;
    font-weight: 400;
    color: var(--bs-dropdown-link-color);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    border-radius: var(--bs-dropdown-item-border-radius, 0);
}

.badge {
    display: inline;
    padding: .35em .65em;
    vertical-align: middle;
}
