.sidebar {
    padding-top: 50px;
    width: 250px;
    height: 100dvh;
    box-shadow: rgba(50, 50, 93, 0.25) 2px 0px 2px -1px, rgba(0, 0, 0, 0.3) 0px 1px 1px -6px;
    z-index: 5;
}

.menu-wrapper {
    height: calc(100dvh - 50px);
    overflow-x: hidden;
    overflow-y: auto;
}

.menu {
    &--sub {
        position: relative;
    }

    .menu-item {
        padding-left: 1rem;
        padding-right: 1rem;

        &--l0 {
            justify-content: space-between;
        }
    }

    & .menu {
        overflow: hidden;

        &:before {
            content: '';
            position: absolute;
            left: calc(1.5rem);

            display: block;
            width: 1px;
            height: 100%;

            background-color: rgb(var(--bs-gray-800));
        }

        .menu-item {


            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: calc(1.5rem);
                transform: translateY(-50%);

                display: block;
                width: 10px;
                height: 1px;

                background-color: rgb(var(--bs-gray-800));
            }
        }
    }
}

.menu-item {
    padding-top: 6px;
    padding-bottom: 6px;

    min-height: 44px;
    line-height: 18px;

    &--l1 {
        min-height: 38px;
    }

    &:hover {
        color: rgb(var(--bs-app-theme));

        &:before {
            background-color: rgb(var(--bs-app-theme))!important;
        }
    }
}

.btn-collapse-sidebar {
    width: 45px;
    border-radius: 25px 0 0 25px;
    background-color: rgb(var(--bs-app-sidebar-minify-btn-bg), .95);


    &:hover {
        background-color: rgb(var(--bs-app-sidebar-minify-btn-bg), .8);
    }

    &:active {
        background-color: rgb(var(--bs-app-sidebar-minify-btn-bg), .95);
    }
}

.sidebar {

    &.collapsed {
        .menu-item {

            &--l0 {
                justify-content: center;

                .menu-title {
                    opacity: 0;
                    display: none;
                }
            }

            .btn-collapse-submenu {
                display: none;
            }
        }

        .menu {
            position: relative;

            &--sub {
                position: absolute;
                right: 0;
                top: 0;
                background-color: white;
            }
        }
    }
}

.overlay-submenu-content {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    .menu-title {
        padding-left: 1.125rem;
    }

    .menu {
        &:before {
            content: '';
            position: absolute;
            left: 1.125rem;

            display: block;
            width: 1px;
            height: 100%;

            background-color: rgb(var(--bs-gray-800));
        }

        .menu-item {
            padding-left: 2.5rem;
            padding-right: 1.25rem;
            min-height: 28px;

            &:before {
                content: '';
                position: absolute;
                left: 1.125rem;
                top: 50%;
                transform: translateY(-50%);

                display: block;
                width: 10px;
                height: 1px;

                background-color: rgb(var(--bs-gray-800));
            }
        }

    }
}

