:root {
    --bs-app-theme: 0, 172, 172;
    --bs-app-theme-hover: 0, 129, 129;
    --bs-gray-100: 248, 249, 250;
    --bs-gray-200: 233, 236, 239;
    --bs-gray-300: 222, 226, 230;
    --bs-gray-400: 206, 212, 218;
    --bs-gray-500: 173, 181, 189;
    --bs-gray-600: 108, 117, 125;
    --bs-gray-700: 73, 80, 87;
    --bs-gray-800: 45, 53, 60;
    --bs-gray-900: 32, 37, 42;

    --bs-red: 255, 91, 87;

    --bs-app-header-input-bg: 242 243 244;
    --bs-app-sidebar-minify-btn-bg: 36.2571428571, 42.7028571429, 48.3428571429;
}
